
 .Navigation {
   margin: 0;
   font-family: Arial;
   overflow: hidden;
 }

 .Navigation a {

   float: left;
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   font-size: 17px;
   text-decoration: none;
 }

.Navigation a:hover {

  background-color: #4CAF50;
  color:white;
}

.Navigation a.aktiv {
  background-color: #4CAF50;
  color: white;
}

.Navigation .icon {
  display: none;
}



@media screen and (max-width: 600px) {
  .Navigation a:not(:first-child) {

    display: none;
  }
  
  .Navigation a.icon {
    float: right;
    display: block;
  }
}

  @media screen and (max-width: 600px) {
    .Navigation.Responsive {position: relative;}
    .Navigation.Responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .Navigation.Responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
