

.Drehkarte {
  background-color: transparent;
  width: 20em;
  height: 20em;
  perspective: 1000px;
  padding: 1em;
  float:left;
  display: flex;
  flex-wrap: wrap;

}

.Drehkarte:last-child {
  margin-right: 0;
}

.Drehkarte-Innen {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  border-style: solid;
}


.Drehkarte:hover .Drehkarte-Innen {
  transform: rotateY(180deg);
}


.Drehkarte-Vorderseite, .Drehkarte-Rückseite {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.Drehkarte-Rückseite {
  background-color: #0B3B0B;
  color: white;
  transform: rotateY(180deg);
  overflow: scroll;
}

 center{
font-size: 7em;
font-style: oblique;
margin-bottom: 0.5em;
}
html {
    background-color: #088A29;
    padding: 0.5em 0.5em 32em 0.5em;
    background-image: url(casinobackground.jpg);
    background-size: cover;
    font-size: 1,5em;
}

a {
  color:white;
}
