
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px;
  float:left;
  padding: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

/* horizentale Drehung der Karte */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Aussehen der Rückseite der Karte Roulette */
.flip-card-back {
  background-color: #0B3B0B;
  color: white;
  transform: rotateY(180deg);

}
